@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Kaushan+Script&display=swap');

:root{
    --main-theme-color:#5cf835;
    --transparent-black: rgba(0,0,0,0.08);
    --dark-black: rgb(4, 1, 24);
    --glass-bg: rgba(255,255,255,0.05);
    --border: rgba(255,255,255,0.08);
    --white: #fff;
    --transparency:rgba(255,255,255,0.4);
}

body{
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

.container{
    background: var(--glass-bg);
    backdrop-filter: blur(40px);
    margin: 50px auto;
    padding: 50px  !important;
    border-left: 1px solid var(--border) ;
    border-bottom: 1px solid var(--border) ;
}

.container-fluid{
    background: var(--dark-black);
    padding: 40px auto;
}

.container-fluid .title{
    color: var(--main-theme-color);
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 1px;
}

.imgBox{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(profile-pic.jpg) no-repeat center;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    background-size: cover;
}

 h2{
    color: var(--main-theme-color);
    font-size: 24px  !important;
    text-transform: uppercase;
    font-family: "Montserrat",sans-serif;
}

#contact-details{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#contact-details p{
    color: var(--main-theme-color);
    font-family: "Roboto",sans-serif;
}

#contact-details a{
    text-decoration: none;
    color: var(--main-theme-color);
    font-family: "Roboto",sans-serif;
}

#contact-details i{
    height: 25px;
    width: 25px;
    border-radius: 4px;
    line-height: 25px;
    text-align: center;
    background: var(--glass-bg);
    color: var(--white);
    margin-right: 10px;
    transition: .6s linear;
}

#contact-details i:hover{
    background: var(--main-theme-color);
}

.heading{
    position: relative;
    color: var(--main-theme-color);
    font-family: "Montserrat",sans-serif;
}

.heading:before{
    content: '';
    position: absolute;
    bottom: -7px;
    height: 3px;
    width: 80px;
    border-radius: 4px;
    background: var(--white);
}

h4 i{
    color: var(--white);
    margin-right: 10px;
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

#skills p{
    color: var(--white);
    font-family: "Roboto",sans-serif;
}

.skill{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: -25px;
}

.skill .skill-bars{
    height: 5px !important;
    width: 80%;
    background: var(--glass-bg);
}

.skill .skill-bars .progress{
    height: 100%;
    background: var(--main-theme-color);
}

p{
    color: var(--white);
    font-family: "Roboto",sans-serif;
}

h4{
    color: var(--main-theme-color);
    font-family: "Montserrat",sans-serif;
}

#projects h5{
    color: var(--main-theme-color);
    font-family: "Montserrat",sans-serif;
}

#projects p{
    font-family: "Roboto",sans-serif;
    font-size: 15px !important;
}

#projects a{
    text-decoration: none;
    color: var(--main-theme-color);
    font-family: "Roboto",sans-serif;
}

#education h5{
    color: var(--main-theme-color);
    font-size: 18px !important;
    text-transform: uppercase;
}

#education h5 span{
    font-weight: 100;
    font-family: 'Kaushan Script', cursive;
    text-transform: capitalize;
    letter-spacing: 1px;
}

#education h6{
    color: var(--white);
}

#education h6 span{
    color: var(--transparency);
}

#education p{
    color: var(--transparency);
}

#education p span{
    color: var(--main-theme-color);
}

#social-links{
    height: 60px;
    width: 120px;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -15px;
}

#social-links a{
    text-decoration: none;
}

#social-links i{
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--glass-bg);
    color: var(--white);
    border-left: 1px solid var(--border) ;
    border-bottom: 1px solid var(--border) ;
    transition: .6s linear;
}

#social-links i:hover{
    background: var(--main-theme-color);
    cursor: pointer;
}

h2::selection{
    background: var(--main-theme-color);
    color: var(--white);
}

.heading::selection{
    background: var(--main-theme-color);
    color: var(--white);
}

p::selection{
    background: var(--main-theme-color);
    color: var(--dark-black);
}

h5::selection{
    background: var(--main-theme-color);
    color: var(--white);
}

/* Custom Scroll - Bar */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: var(--main-theme-color);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--white);
}

::-webkit-scrollbar-track-piece{
    background: rgb(11, 3, 48);
    box-shadow: inset 4px 4px 5px rgba(255,255,255,0.05);
}

